<section class="programs">
  <div class="container">
    <h2 class="programs__title title">Программа акселератора</h2>

    <div class="programs__accordion accordion">
      <div class="accordion__item">
        <h3 class="accordion__title">
          <span class="accordion__accent">Модуль 1</span>
          <span class="accordion__main">Тенденции и тренды современного</span>
          <span class="accordion__timeline">4 недели</span>
          <span class="accordion__btn "></span>
        </h3>

        <ul class="accordion__body list-reset ">
          <li class="accordion__body-item">
            Тема 1. Куда движутся IT тренды? Аналитика Gartner, разбор отчетов консалтинговых компаний
          </li>
          <li class="accordion__body-item">
            Тема 2. Рынки Ближнего Востока, Азии, Латинской АмерикиТема
          </li>
          <li class="accordion__body-item">
            3. Что такое внутренние и внешние инновации? Как искать инновационные идеи?
          </li>
          <li class="accordion__body-item">
            <a href="#">9 видео роликов, вебинар с приглашенным экспертом</a>
          </li>

        </ul>
      </div>

      <div class="accordion__item">
        <h3 class="accordion__title">
          <span class="accordion__accent">Модуль 1</span>
          <span class="accordion__main">Тенденции и тренды современного</span>
          <span class="accordion__timeline">4 недели</span>
          <span class="accordion__btn "></span>
        </h3>

        <ul class="accordion__body list-reset ">
          <li class="accordion__body-item">
            Тема 1. Куда движутся IT тренды? Аналитика Gartner, разбор отчетов консалтинговых компаний
          </li>
          <li class="accordion__body-item">
            Тема 2. Рынки Ближнего Востока, Азии, Латинской АмерикиТема
          </li>
          <li class="accordion__body-item">
            3. Что такое внутренние и внешние инновации? Как искать инновационные идеи?
          </li>
          <li class="accordion__body-item">
            <a href="#">9 видео роликов, вебинар с приглашенным экспертом</a>
          </li>

        </ul>
      </div>

      <div class="accordion__item">
        <h3 class="accordion__title">
          <span class="accordion__accent">Модуль 1</span>
          <span class="accordion__main">Тенденции и тренды современного</span>
          <span class="accordion__timeline">4 недели</span>
          <span class="accordion__btn "></span>
        </h3>

        <ul class="accordion__body list-reset ">
          <li class="accordion__body-item">
            Тема 1. Куда движутся IT тренды? Аналитика Gartner, разбор отчетов консалтинговых компаний
          </li>
          <li class="accordion__body-item">
            Тема 2. Рынки Ближнего Востока, Азии, Латинской АмерикиТема
          </li>
          <li class="accordion__body-item">
            3. Что такое внутренние и внешние инновации? Как искать инновационные идеи?
          </li>
          <li class="accordion__body-item">
            <a href="#">9 видео роликов, вебинар с приглашенным экспертом</a>
          </li>

        </ul>
      </div>

      <div class="accordion__item">
        <h3 class="accordion__title">
          <span class="accordion__accent">Модуль 1</span>
          <span class="accordion__main">Тенденции и тренды современного</span>
          <span class="accordion__timeline">4 недели</span>
          <span class="accordion__btn "></span>
        </h3>

        <ul class="accordion__body list-reset ">
          <li class="accordion__body-item">
            Тема 1. Куда движутся IT тренды? Аналитика Gartner, разбор отчетов консалтинговых компаний
          </li>
          <li class="accordion__body-item">
            Тема 2. Рынки Ближнего Востока, Азии, Латинской АмерикиТема
          </li>
          <li class="accordion__body-item">
            3. Что такое внутренние и внешние инновации? Как искать инновационные идеи?
          </li>
          <li class="accordion__body-item">
            <a href="#">9 видео роликов, вебинар с приглашенным экспертом</a>
          </li>

        </ul>
      </div>

      <div class="accordion__item">
        <h3 class="accordion__title">
          <span class="accordion__accent">Модуль 1</span>
          <span class="accordion__main">Тенденции и тренды современного</span>
          <span class="accordion__timeline">4 недели</span>
          <span class="accordion__btn "></span>
        </h3>

        <ul class="accordion__body list-reset ">
          <li class="accordion__body-item">
            Тема 1. Куда движутся IT тренды? Аналитика Gartner, разбор отчетов консалтинговых компаний
          </li>
          <li class="accordion__body-item">
            Тема 2. Рынки Ближнего Востока, Азии, Латинской АмерикиТема
          </li>
          <li class="accordion__body-item">
            3. Что такое внутренние и внешние инновации? Как искать инновационные идеи?
          </li>
          <li class="accordion__body-item">
            <a href="#">9 видео роликов, вебинар с приглашенным экспертом</a>
          </li>

        </ul>
      </div>

      <div class="accordion__item">
        <h3 class="accordion__title">
          <span class="accordion__accent">Модуль 1</span>
          <span class="accordion__main">Тенденции и тренды современного</span>
          <span class="accordion__timeline">4 недели</span>
          <span class="accordion__btn "></span>
        </h3>

        <ul class="accordion__body list-reset ">
          <li class="accordion__body-item">
            Тема 1. Куда движутся IT тренды? Аналитика Gartner, разбор отчетов консалтинговых компаний
          </li>
          <li class="accordion__body-item">
            Тема 2. Рынки Ближнего Востока, Азии, Латинской АмерикиТема
          </li>
          <li class="accordion__body-item">
            3. Что такое внутренние и внешние инновации? Как искать инновационные идеи?
          </li>
          <li class="accordion__body-item">
            <a href="#">9 видео роликов, вебинар с приглашенным экспертом</a>
          </li>

        </ul>
      </div>

      <div class="accordion__item">
        <h3 class="accordion__title">
          <span class="accordion__accent">Модуль 1</span>
          <span class="accordion__main">Тенденции и тренды современного</span>
          <span class="accordion__timeline">4 недели</span>
          <span class="accordion__btn "></span>
        </h3>

        <ul class="accordion__body list-reset ">
          <li class="accordion__body-item">
            Тема 1. Куда движутся IT тренды? Аналитика Gartner, разбор отчетов консалтинговых компаний
          </li>
          <li class="accordion__body-item">
            Тема 2. Рынки Ближнего Востока, Азии, Латинской АмерикиТема
          </li>
          <li class="accordion__body-item">
            3. Что такое внутренние и внешние инновации? Как искать инновационные идеи?
          </li>
          <li class="accordion__body-item">
            <a href="#">9 видео роликов, вебинар с приглашенным экспертом</a>
          </li>

        </ul>
      </div>

      <div class="accordion__item">
        <h3 class="accordion__title">
          <span class="accordion__accent">Модуль 1</span>
          <span class="accordion__main">Тенденции и тренды современного</span>
          <span class="accordion__timeline">4 недели</span>
          <span class="accordion__btn "></span>
        </h3>

        <ul class="accordion__body list-reset ">
          <li class="accordion__body-item">
            Тема 1. Куда движутся IT тренды? Аналитика Gartner, разбор отчетов консалтинговых компаний
          </li>
          <li class="accordion__body-item">
            Тема 2. Рынки Ближнего Востока, Азии, Латинской АмерикиТема
          </li>
          <li class="accordion__body-item">
            3. Что такое внутренние и внешние инновации? Как искать инновационные идеи?
          </li>
          <li class="accordion__body-item">
            <a href="#">9 видео роликов, вебинар с приглашенным экспертом</a>
          </li>

        </ul>
      </div>

      <div class="accordion__item">
        <h3 class="accordion__title">
          <span class="accordion__accent">Модуль 1</span>
          <span class="accordion__main">Тенденции и тренды современного</span>
          <span class="accordion__timeline">4 недели</span>
          <span class="accordion__btn "></span>
        </h3>

        <ul class="accordion__body list-reset ">
          <li class="accordion__body-item">
            Тема 1. Куда движутся IT тренды? Аналитика Gartner, разбор отчетов консалтинговых компаний
          </li>
          <li class="accordion__body-item">
            Тема 2. Рынки Ближнего Востока, Азии, Латинской АмерикиТема
          </li>
          <li class="accordion__body-item">
            3. Что такое внутренние и внешние инновации? Как искать инновационные идеи?
          </li>
          <li class="accordion__body-item">
            <a href="#">9 видео роликов, вебинар с приглашенным экспертом</a>
          </li>

        </ul>
      </div>
    </div>
  </div>
</section>